<%- include("templates/cabecera.ejs", {cabecera:'Panel de Administración'}) %>
    <div class="container">
        <h1>Lista de entrenadores</h1>
        <div class="row">
            <div class="col-6"><a class="btn btn-success btn-block my-4" href="/entrenador/crearEntrenador">Añadir un
                    entrenador</a></div>
            <div class="col-6"><a class="btn btn-success btn-block my-4" href="/">Volver</a></div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Bio</th>
                    <th scope="col">Región</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Num gimnasios</th>
                    <th scope="col">Lista de pokémon</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayEntrenador.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayEntrenador.forEach(entrenador=> { %>
                        <tr>
                            <th scope="row">
                                <%= entrenador.id %>
                            </th>
                            <td>
                                <%= entrenador.nombre %>
                            </td>
                            <td>
                                <%= entrenador.bio %>
                            </td>
                            <td>
                                <%= entrenador.region%>
                            </td>
                            <td>
                                <%= entrenador.ciudad %>
                            </td>
                            <td>
                                <%= entrenador.numGym %>
                            </td>
                            <td>
                                <%= entrenador.lista_Pokemon %>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="entrenador/<%= entrenador.id %>">Editar/Eliminar</a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>
    <%- include("templates/footer.ejs") %>